body {
    margin: 0;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #5d7afb;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #5d7afb;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #2600ff;
  }
  
  div {
    border-radius: 5px;
    background-color: #ececec;
    padding: 20px;
  }